<div class="min-h-screen min-w-screen flex justify-center">
  <div class="flex p-4 lg:flex-row flex-col md:justify-between items-center md:max-w-[700px] lg:max-w-[1200px]">
<div class="lg:max-w-[47%] mb-4">
  <h2 class="text-4xl text-[#199ED3] font-bold mb-2">
    Creamos comodidad y seguridad al unir precisión y personalización en cada cita médica programada.</h2>
  <h2 class="text-2xl text-[#15634C] font-bold text-justify mb-2">
    Garantizamos citas médicas a domicilio con una tasa de satisfacción del 99.9%
  </h2>
  <h2 class="text-xl text-[#54595F] text-justify mb-8">En Home Nurses, reserva citas médicas a domicilio con facilidad. Expertos en medicina te brindan atención personalizada donde te sientas más cómodo.</h2>
  <a href="/nurses">
  <button type="button" class="focus:outline-none text-white w-full bg-[#15634C] hover:bg-[#15634CA1] focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-lg px-5 py-2.5 me-2 mb-2">Explora nuestra red de enfermeras</button>
</a>
<a href="/aboutUs">
  <button type="button" class="text-white bg-blue-700 w-full hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-lg px-5 py-2.5 me-2 mb-2">Conoce más sobre nosotros</button>

</a>
</div>
<div class="max-w-full lg:max-w-[47%]">
  <img src="/home-image.png" alt="alt" width="600px" />
</div>
</div>
</div>