<section class="h-screen flex justify-center items-center">
  <div class="max-w-4xl mx-auto flex flex-col items-center px-4 sm:px-6 lg:px-8 text-justify">
    <h2 class="text-3xl font-semibold text-[#199ED3] mb-4">Acerca de Nosotros</h2>
    <p class="text-lg text-gray-700 mb-8">En Home Nurse, nos enorgullece brindar atención médica de calidad en la comodidad de tu hogar. Nuestro equipo de profesionales altamente capacitados está comprometido con tu bienestar y el de tus seres queridos. Trabajamos arduamente para garantizar que cada paciente reciba un cuidado personalizado que satisfaga sus necesidades específicas, brindando tranquilidad y seguridad a toda la familia.</p>
    <p class="text-lg text-gray-700 mb-8">Con años de experiencia en el campo de la atención médica domiciliaria, hemos creado un ambiente de confianza y seguridad para todos nuestros pacientes. Nuestra misión es proporcionar cuidados personalizados y compasivos que te permitan vivir una vida plena y saludable en tu hogar. Nos esforzamos por establecer relaciones sólidas con nuestros pacientes y sus familias, brindando apoyo emocional y médico en cada paso del camino.</p>
    <p class="text-lg text-gray-700">Descubre cómo podemos hacer la diferencia en tu vida y la de tu familia. Contáctanos hoy mismo para comenzar tu viaje hacia un cuidado médico excepcional en la comodidad de tu hogar.</p>
  </div>
</section>